all				{font-family	: "細明體"			;}
pre, textarea	{border			: 1px solid fuchsia	;
				 width			:  100%				;
				 overflow  		:  auto				;
				 overflow-y		:  auto				;
				 overflow-x		:  none				;
				 margin-top		:     0				; 
				 margin-bottom	:     0				;}
#code			{height			:   30%				;}
#test			{height			:   10%				;}
pre				{height			:   50%				;}
inp				{background-color: #FFD 			;
				 color			:  blue				 }
wrn				{color			: brown				;}
err				{color			:   red  			;}
ok				{color			: green				;}