all {
	font-family: "細明體"; 
}
pre {
	border: 1px solid fuchsia;
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-y: auto;
	overflow-x: none;
	margin-top: 0; 
	margin-bottom: 0;
}
inp, mrk {
	color: blue;
}
wrn {
	color: brown;
}
err {
	color: red;
}
ok {
	color: green;
}